{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-HUB-Courses</title>
    {% include 'ai_hub/partials/links.html' %}
    <style>
        body {
            background-color: rgb(240, 238, 238);
            margin-left: 25px;
        }
        #courses-list {
            padding-left: 100px;
            margin-left: 0;
        }
    </style>
</head>
<body>
    {% include "ai_hub/partials/header.html" %}
    <br><br>
    <h1 id="page-title">Courses</h1>
    <hr>

    <ul id="courses-list">
        <li>
            <a href="/courses/calculus-using-matlab">Calculus using MATLAB</a> 
            {% comment %} <span>  by  </span> <a href="./courses/calculus_using_matlab/mathdept.html">Department of math</a> {% endcomment %}
        </li>
    </ul>

    {% include "ai_hub/partials/footer.html" %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>